/* Sovrascrive lo sfondo di Bootstrap con i tuoi token di tema */
.glassCard {
    background-color: var(--bloom-glass-bg) !important;
    border: 1px solid var(--bloom-glass-border);
    border-radius: var(--bloom-radius-lg);
    box-shadow: var(--bloom-shadow-md);
    backdrop-filter: blur(var(--bloom-glass-blur));
  -webkit-backdrop-filter: blur(var(--bloom-glass-blur));
}

.glassCard .cardTitle {
    color: var(--bloom-title);
    text-transform: capitalize;
    padding-right: 4px;;
}

.glassCard .cardText {
    color: var(--bloom-text-muted);
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 8px;
    font-family: var(--bs-font-monospace);
}

.cardImg {
    height: 230px;
}
